@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  main {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  span > h1 {
    padding: 10px;
    color: white;
    background-image: linear-gradient(to bottom, #5abcf0, #0b9ae2);
    position: relative;
    left: 42%;
    width: 200px;
    font-size: 1rem;
    text-align: center;
  }

  .video-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 70px;
  }

  video {
    border: 3px solid black;
    box-shadow: 10px 10px 5px 0px #888888;
    margin-top: 20px;
    width: 400px;
    height: 250px;
  }

  .service-container {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    grid-gap: 10px;
    position: relative;
    margin-top: 25px;
    padding: 10px 30px;
  }

  .service-item {
    position: relative;
    left: 25%;
    width: 200px;
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    color: white;
    background: linear-gradient(to bottom right, #ff6f61, #ffa07a);
  }

  #text-center {
    padding-top: 10px;
  }
}

/*
 //////////////////////////////////////////////////////////////////////
*/

@media only screen and (min-width: 992px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  main {
    margin-top: 80px;
    padding-top: 100px;
    margin-bottom: 80px;
  }

  span > h1 {
    padding: 10px;
    color: white;
    background-image: linear-gradient(to bottom, #5abcf0, #0b9ae2);
    position: relative;
    left: 42%;
    width: 400px;
    font-size: 3em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .video-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-left: 100px;
  }

  video {
    border: 3px solid black;
    box-shadow: 10px 10px 5px 0px #888888;
  }

  .service-container {
    display: grid;

    grid-template-columns: repeat(5, 0.2fr);

    position: relative;

    padding-top: 50px;
    padding-left: 70px;
  }

  .service-item {
    margin-top: 20px;
    width: 300px;
    text-align: center;
    font-size: 2em;
    padding: 10px;
    color: white;
    background: linear-gradient(to bottom right, #ff6f61, #ffa07a);
  }

  #text-center {
    padding-top: 30px;
  }
}
